#designers {

	.main {
		@media @tablet { margin-left: -800px; }
		@media @mobile { margin-left: -300px; }
	}

	.main-text {
		left: 6em;

		@media @tablet { left: 3em; }
		@media @desktop-xl { left: 13em; }
		@media @mobile {
			left: 0;
			top: -6em;
		}
	}

	section {
		.wrapper;
		text-align: center;

		@media @tablet { width: 90%; }

		a {
			margin: 0 2em;

			@media @tablet {
				display: inline-block;
				margin-bottom: 4em;
			}

			@media @mobile {
				display: inline-block;
				margin-bottom: 2em;
			}

			img {
				@media @mobile { max-width: 100%; }
			}
		}
	}
}
