#diamonds {

	.main {
		@media @tablet { margin-left: -950px; }
	}

	.main-text {
		right: 2em;

		@media @desktop-xl { right: 8em; }
		@media @mobile {
			right: 0;
			top: -6em;
		}
	}

	section {
		width: 75%;
		max-width: 800px;
		margin: 0 auto;

		@media @tablet { width: 90%; }
		@media @mobile { width: 90%; }

		img {
			float: right;
			margin-left: 3em;

			@media @mobile {
				float: none;
				margin-left: 0;
			}
		}
	}
}
