#engagement-wedding {

	.main {
		@media @tablet { margin-left: -950px; }
	}

	.main-text {
		right: 2em;

		@media @desktop-xl { right: 8em; }
		@media @mobile { right: 0; }
	}

	section {
		width: 75%;
		max-width: 800px;
		margin: 0 auto 4em;
		padding-bottom: 4em;
		border-bottom: 1px solid @black;

		@media @tablet { width: 90%; }
		@media @mobile {
			width: 90%;
			padding-bottom: 2em;
			margin-bottom: 2em;
		}

		&:last-of-type{ border: 0; }

		img {
			position: absolute;
			top: 0;

			@media @mobile {
				position: relative;
				margin-bottom: 1em;
			}
		}

		&:nth-child(odd) {
			img { right: 0; }
			p {
				max-width: 60%;
				@media @mobile { max-width: 100%; }
			}
		}

		&:nth-child(even) {
			padding-left: 18em;

			@media @mobile { padding-left: 0; }

			img { left: 0; }
		}
	}
}
