#events {
	.wrapper-text {
		padding-top: 2em;
		max-width: 1000px;
	}

	img {
		top: -2em;
		max-width: 100%;
		margin: 0 auto;
		display: block;

		@media @desktop {
			float: left;
			margin: 0 2em 0 0;
		}
	}

	em {
		margin-top: .5em;
	}

	a:hover {
		text-decoration: underline;
	}
}
