footer {
	padding: 3em 0;
	font-size: .7em;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;

	nav { margin-top: .75em; }

	a {
		margin: 0 1em;

		@media @mobile {
			margin: 0 .5em;
		}
	}

	nav:nth-of-type(3) {
		margin-top: 2em;
		a { margin: 0 .25em; }
	}

	nav:nth-of-type(2),
	span {
		color: #808080;
	}
}
