header {

	span {
		display: block;
		width: 50%;
		top: .5em;
		font-size: .75em;
		font-weight: 400;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding-left: 1em;
	}

	#logo {
		display: block;
		width: 244px;
		margin: .25em auto 1.5em;

		@media @tablet { padding-top: 1em; }
		@media @mobile { padding-top: 4em; }
	}

	nav {
		width: 100%;
		background-color: @lightgrey;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		font-size: .7em;
		font-weight: 400;

		a {
			display: inline-block;
			margin: .4em 1.5em;

			@media @tablet { margin: .4em 1.25em; }
			@media @mobile { margin: .4em 1em; }

			&:hover,
			&.current {
				color: @darkgreen;
			}
		}
	}
}
