#home {
	margin-bottom: 0;

	.main {
		@media @mobile { margin-left: -230px; }
		@media @tablet { margin-left: -930px; }
	}

	.main-text {
		text-align: center;

		@media @desktop-xl {
			left: 8em;
			width: 23em;
		}

		@media @desktop {
			top: 10em;
			left: 2em;
			width: 21em;
		}

		@media @tablet {
			top: 0;
			width: auto;
			max-width: 80%;
			position: relative;
			margin: 2em auto;
		}
		@media @mobile {
			left: 0;
			top: -1em;
		}
	}

	@media @tablet {
		.main-content {
			position: relative;
		}
	}

	nav {
		position: absolute;
		width: 100%;
		bottom: 0em;
		background-color: @white;
		background-color: rgba(255,255,255,.8);

		div {
			.wrapper;
			overflow: auto;
		}

		a {
			display: block;
			float: left;
			height: 4.5em;
			padding: 1em 8.5em 0 2em;
			text-transform: uppercase;
			color: @darkgreen;
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 700;
			border-left: 1px solid black;

			&:last-of-type {
				padding-right: 3em;
				border-right: 1px solid black;
			}
		}
	}
}
