@import 'ie6.less';

body {
	width: 80%;
}

#logo {
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
}

h2 {
	margin-top: 40px;
}

a { margin-right: 5px; }

.main,
#form,
#contact iframe {
	display: none !important;
}

header,
footer,
.content {
	margin-top: 40px;
	margin-bottom: 40px;
}

#engagement-wedding img { float: right; }

#timepieces a {
	display: block;
	margin-top: 20px;
	margin-bottom: 40px;
}
