@white: #fff;
@black: #000;
@darkgreen: #006072;
@lightgreen: #e4efef;
@lightgrey: #f3f7f8;

@import 'functions.less';
@import 'reset.less';
@import 'media-queries.less';
@import 'google-font.less';
@import 'template.less';
@import 'modules.less';
@import 'header.less';
@import 'footer.less';
@import 'home.less';
@import 'contact.less';
@import 'engagement-wedding.less';
@import 'diamonds.less';
@import 'designers.less';
@import 'timepieces.less';
@import 'services.less';
@import 'our-story.less';
@import 'events.less';
