.content {
	width: 100%;
	overflow: hidden;
	margin-bottom: 4em;

	@media @tablet { margin-bottom: 1em; }
	@media @mobile { margin-bottom: 1em; }
}

.main {
	left: 50%;
	margin-left: -800px;

	@media @mobile {
		left: -450px;
		top: -50px;
		margin: 0;
	}
}

.main-content {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;

	@media @mobile { position: relative; }

	& > div {
		.wrapper;
		height: 100%;
	}
}

.main-text {
	display: block;
	position: absolute;
	width: 20em;
	top: 4em;

	@media @mobile {
		position: relative;
		top: -4em;
		width: 90%;
		margin: 0 auto;
	}
}

.button {
	display: inline-block;
	background-color: @darkgreen;
	color: @white;
	text-transform: uppercase;
	font-weight: 600;
	font-size: .7em;
	padding: .75em 2em;
	.transition(background-color);

	&:hover,
	&:focus,
	&:active {
		background-color: lighten(@darkgreen, 10%);
		color: @white;
		.transition(background-color);
	}
}

.light-button {
	color: @black;
	background-color: @lightgreen;
	font-weight: 500;

	&:hover,
	&:focus,
	&:active {
		background-color: darken(@lightgreen, 10%);
		color: @black;
		.transition(background-color);
	}
}

#cobranding {
	z-index: 10;
	position: absolute;
	top: 0;
	right: .5em;
}

#shop {
	.wrapper-iframe {
		margin-top: 1rem;
	}

	& > p {
		text-align: center;
		margin-top: 2rem;
	}
}
