#our-story {

	section {
		width: 85%;
		max-width: 1000px;
		margin: 4em auto;
		padding: 0 5em 3em;

		border-bottom: 1px solid @black;
		&:last-of-type { border: 0; }

		text-align: center;
		&:nth-of-type(2) {
			text-align: left;

			img {	margin-bottom: 2em;	}
		}

		@media @tablet {
			width: 90%;
			padding: 0 3em 3em;
		}

		@media @mobile {
			width: 95%;
			margin: 2em auto;
			padding: 0 .5em 1em;
			text-align: left;
		}
	}

	li::before { content: ''; }

	section:nth-of-type(3) {
		overflow: auto;

		li {
			float: left;
			width: 32%;
			margin: .5%;
			text-transform: uppercase;
			font-size: .65em;
			line-height: 2em;

			@media @mobile {
				font-size: .55em;
			}
		}

		img {
			max-width: 100%;
		}
	}

	section:last-of-type li {
		margin: 0;
		font-size: .9em;

		@media @mobile { margin-bottom: .75em; }
	}
}
