html {
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

header, footer {
	a, a:active {	color: inherit; }
}

header, footer,
.content-reset {

	&, *, *:before, *:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
	}

	h1, h2, h3, h4, h5, h6,
	p, blockquote, pre, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, th, td,
	article, aside, figure, footer, header,
	hgroup, menu, nav, section {
		margin: 0;
		padding: 0;
		border: 0;
	}

	article, aside, details, figcaption, figure,
	footer, header, hgroup, nav, section, audio, canvas, video {
		display: block;
	}

	// Fix some link :active issue with Webkit
	a, a:active {
		text-decoration: none;
	}

	a img, img {
		-ms-interpolation-mode: bicubic;
		border: 0;
	}

	input, textarea, button, select {
		margin: 0;
		border: none;
		font-size: 100%;
		line-height: normal;
		vertical-align: baseline;
	}

	button,
	html input[type="button"],
	input[type="submit"] {
		cursor: pointer;
		-webkit-appearance: button;
	}

	textarea {overflow: auto;}
}
