#services {

	.main {
		@media @tablet { margin-left: -800px; }
		@media @mobile { margin-left: -300px; }
	}

	.main-text {
		left: 6em;

		@media @tablet { left: 3em; }
		@media @desktop-xl { left: 13em; }
		@media @mobile {
			left: 0;
			top: -6em;
		}
	}

	ul {
		width: 85%;
		max-width: 1000px;
		margin: 0 auto;
		overflow: auto;

		@media @tablet { width: 95%; }
		@media @mobile {
			width: 95%;
			top: -5em;
		}
	}

	li {
		display: block;
		float: left;
		width: 33%;
		min-height: 42em;
		margin: 0;
		padding: 2em 1.5em 0;

		@media @tablet { height: 46em; }
		@media @mobile {
			width: 100%;
			height: auto;
			min-height: 10em;
			border: none;
			padding: 3em .5em 0;
		}

		&::before { content: '';	}

		border-bottom: 1px solid @black;
		&:last-of-type { border-bottom: 0; }

		border-right: 1px solid @black;
		&:nth-of-type(3n) { border-right: 0; }


		img { max-width: 100%; }

		h2 {
			font-size: 1.5em;
			margin-top: 1em;
		}

		p { margin: 0; }
	}
}
