html {
	font: 400 16px/20px 'Open Sans', sans-serif;
	background-color: @white;
	width: 100%;
	max-width: 100%;
}

.wrapper {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.wrapper-text {
	max-width: 1280px;
	width: 90%;
	margin: 5em auto 0;
	overflow: auto;

	@media @tablet { margin-top: 3em; }
	@media @mobile { margin-top: 2em; }
}

.wrapper-iframe {
	max-width: 1050px;
	width: 100%;
	margin: 3em auto 0;
	text-align: center;
}


header, footer,
.content-reset {

	h1, h2 {
		text-transform: uppercase;
		color: @darkgreen;
		line-height: 1em;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 700;
		margin-bottom: 1em;
		font-size: 2em;

		@media @mobile {
			font-size: 1.75em;
			margin-bottom: .5em;
		}
	}

	h1 em {
		display: block;
		color: @black;
		font-size: .75em;
		font-style: normal;

		sup {
			text-transform: none;
		}
	}

	h3 {
		font-size: .9em;
		text-transform: uppercase;
	}

	p, footnote {
		font-size: .9em;
		margin-bottom: 2.25em;

		@media @mobile { margin-bottom: 1em; }
	}

	footnote {
		font-style: italic;
	}

	li { margin-bottom: 1em; }

	.list-text li { font-size: .9em; }

	ol {
		list-style-position: inside;
		font-size: .9em;
	}

	ul {
		list-style: none;

		li { padding-left: .5em; }

		li::before {
			content: "- ";
			left: -.1em;
			position: absolute;
		}
	}
}
