#timepieces {

	.main {
		@media @tablet { margin-left: -870px; }
	}

	.main-text {
		right: 2em;

		@media @desktop-xl { right: 8em; }
		@media @mobile { right: 0; }
	}

	section {
		.wrapper;
		text-align: center;

		@media @tablet { width: 90%; }

		a {
			margin: 0 2em;

			@media @tablet {
				display: inline-block;
				margin-bottom: 4em;
			}

			@media @mobile {
				display: inline-block;
				margin-bottom: 2em;
			}

			img {
				@media @mobile { max-width: 100%; }
			}
		}
	}
}
